.toolbar {
  background-image: url("../../../images/toolbar.svg");
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 282px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  background-color: var(--backgroung-gray);
  box-shadow: 0 0 3px var(--secondary-light);
  height: 100%;
}

.menuListBox {
  height: 40px;
}

.hiddenText {
  visibility: hidden;
}
