.container {
  padding-left: 8.2vw;
  display: flex;
  flex-direction: row;
  padding-top: 8.75vw;
  margin-bottom: 6.33vw;
}

.filtersWrapper {
  width: fit-content;
}

.resultsWrapper {
  width: 100%;
  margin-left: 5.2vw;
  margin-right: 5.2vw;
}
