.searchButtonWrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
}

.button {
        width: 15.3vw;
        height: 4vh;
}