.navBar {
  background-color: var(--primary-main);
  height: 3.89vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
}

.homeLinkContainer {
}

.homeLink {
}

.homeLinkTypo {
}

.linksList {
}
