.wrapper {
  background-color: #f8f5f1;
  background-image: url("../../images/gradient.png");
  height: 52.15vw;
  position: relative;
  z-index: -2;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  height: 40vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.vector {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
